body {
  background: #F3E600;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: .2rem;
}

.components-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
}

.list-container {
  margin-top: 1.2rem;
}

.delete-icon {
  color: red;
}